In [1]:
#!pip install pdf2image
#!pip install poppler-utils
#!pip install easyocr
#!pip install fuzzywuzzy 
#pip install easyocr
#!pip install opencv-python-headless==4.3.0.38
#!pip uninstall opencv-python-headless
#!pip install opencv-python==4.5.4.60

In [2]:
import pandas as pd
import numpy as np
import cv2
import easyocr
import matplotlib.pyplot as plt
from pdf2image import convert_from_path
import re
from fuzzywuzzy import fuzz,process
from PIL import Image
import warnings
warnings.filterwarnings('ignore')
from datetime import datetime

C:\Users\Acer\anaconda4\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [3]:
reader=easyocr.Reader(['en'])
reader

CUDA not available - defaulting to CPU. Note: This module is much faster with a GPU.

In [4]:
img=cv2.imread(r"C:\Users\Acer\Cloudstrat\OCR Driving License\DL (Indian & Foreign)\Indian Driving license\DL 5.jpeg")
img=cv2.resize(img,(720,480))
cv2.imshow("image",img)
cv2.waitKey(0)
cv2.destroyAllWindows()

In [5]:
Height,Width,Channel=img.shape
print('Height=',Height)
print('Width=',Width)
print('Channel=',Channel)

Height= 480
Width= 720
Channel= 3

In [6]:
output=reader.readtext(img)
output

[([[253, 0], [443, 0], [443, 17], [253, 17]],
  'TNe JNIJN UFNDIA',
  0.019337312912112173),
 ([[114, 16], [578, 16], [578, 46], [114, 46]],
  'MAHARASHTRA STATE MOTOR DRIVING LICENCE',
  0.7949915613179126),
 ([[116, 42], [324, 42], [324, 68], [116, 68]],
  'DL No MH:1220050000188',
  0.7643995825621454),
 ([[404, 44], [520, 44], [520, 72], [404, 72]],
  'ID . 12-12-2005',
  0.5313595535169602),
 ([[116, 64], [380, 64], [380, 92], [116, 92]],
  'Valid Till : 11-12-2025 (Non Trans)',
  0.765577352634551),
 ([[314, 88], [388, 88], [388, 116], [314, 116]],
  '(Inv Crg)',
  0.9156098649011413),
 ([[565, 87], [647, 87], [647, 131], [565, 131]],
  'FOEH%q)',
  0.06598360996954089),
 ([[218, 114], [524, 114], [524, 138], [218, 138]],
  'AUTHORISATION TO DRIVE FOLLOWING CLASS',
  0.7108878257404989),
 ([[220, 132], [444, 132], [444, 156], [220, 156]],
  'Of VEHICLES THROUGHOUT INDIA',
  0.6628576070055883),
 ([[232, 154], [276, 154], [276, 180], [232, 180]], 'COv', 0.595781477544585),
 ([[312, 154], [338, 154], [338, 178], [312, 178]], 'ID', 0.9612822050184514),
 ([[222, 178], [280, 178], [280, 202], [222, 202]],
  'MCWG',
  0.7770726680755615),
 ([[294, 178], [378, 178], [378, 202], [294, 202]],
  '12-12-2005',
  0.7949360238101539),
 ([[225, 261], [290, 261], [290, 291], [225, 291]],
  'Badget',
  0.9980447145662973),
 ([[396, 262], [422, 262], [422, 288], [396, 288]], 'ID', 0.990516276310328),
 ([[226, 284], [270, 284], [270, 310], [226, 310]], 'DOB', 0.9961502754629853),
 ([[287, 285], [375, 285], [375, 309], [287, 309]],
  '12-05-1986',
  0.9939956079076001),
 ([[398, 286], [430, 286], [430, 310], [398, 310]], 'BG', 0.9977944940996334),
 ([[440, 286], [476, 286], [476, 312], [440, 312]], 'Not', 0.9997412893715442),
 ([[54, 312], [104, 312], [104, 336], [54, 336]], 'WName', 0.4107923996682347),
 ([[120, 314], [276, 314], [276, 338], [120, 338]],
  'POOJA M PALANDE',
  0.9473928534537047),
 ([[54, 334], [264, 334], [264, 362], [54, 362]],
  'S@DN of MILIND PALANDE',
  0.27988550871931517),
 ([[54, 358], [344, 358], [344, 386], [54, 386]],
  'Add S NO . 32/14 A3 , AMBEGAON BK ,',
  0.6570060966422822),
 ([[52, 380], [294, 380], [294, 406], [52, 406]],
  'BHARTI VIDYAPEETH BACKSIDE',
  0.8621523310726311),
 ([[52, 400], [100, 400], [100, 426], [52, 426]], 'PUNe', 0.21843624114990234),
 ([[54, 422], [146, 422], [146, 448], [54, 448]],
  'Pin . 411046',
  0.354871042048044),
 ([[52, 444], [188, 444], [188, 474], [52, 474]],
  'Signalure & ID of',
  0.905460033030396),
 ([[489, 445], [626, 445], [626, 475], [489, 475]],
  'SignaturefThumb',
  0.5105318184286903),
 ([[60, 470], [184, 470], [184, 478], [60, 478]],
  'Cce',
  0.0013576188519128245),
 ([[191, 470], [285, 470], [285, 478], [191, 478]],
  'UAOnnac',
  0.0003187719303480297),
 ([[600, 470], [646, 470], [646, 478], [600, 478]], '', 0.0)]

In [7]:
output1 = reader.readtext(img, allowlist ='0123456789')
output1

[([[253, 0], [443, 0], [443, 17], [253, 17]], '4291861', 0.02840441639712725),
 ([[114, 16], [578, 16], [578, 46], [114, 46]],
  '5444845418451412801030353644236',
  0.012941644218854088),
 ([[116, 42], [324, 42], [324, 68], [116, 68]],
  '00641220050000188',
  0.4198274889018701),
 ([[404, 44], [520, 44], [520, 72], [404, 72]],
  '10122122005',
  0.3917587198277839),
 ([[116, 64], [380, 64], [380, 92], [116, 92]],
  '3951101222025785',
  0.08606184468159826),
 ([[314, 88], [388, 88], [388, 116], [314, 116]],
  '71692',
  0.12554697177870627),
 ([[565, 87], [647, 87], [647, 131], [565, 131]],
  '588809',
  0.1849660997313617),
 ([[218, 114], [524, 114], [524, 138], [218, 138]],
  '481315473100316067455',
  0.05670939728601803),
 ([[220, 132], [444, 132], [444, 156], [220, 156]],
  '051457430864081134',
  0.007278035609598759),
 ([[232, 154], [276, 154], [276, 180], [232, 180]], '11', 0.08463643836475591),
 ([[312, 154], [338, 154], [338, 178], [312, 178]], '10', 0.7064156274689537),
 ([[222, 178], [280, 178], [280, 202], [222, 202]],
  '116',
  0.06811212114272958),
 ([[294, 178], [378, 178], [378, 202], [294, 202]],
  '122122005',
  0.6905515192022492),
 ([[225, 261], [290, 261], [290, 291], [225, 291]], '8921', 0.372433602809906),
 ([[396, 262], [422, 262], [422, 288], [396, 288]], '10', 0.8959616070374085),
 ([[226, 284], [270, 284], [270, 310], [226, 310]], '008', 0.2642178047146188),
 ([[287, 285], [375, 285], [375, 309], [287, 309]],
  '120511986',
  0.8177560074338148),
 ([[398, 286], [430, 286], [430, 310], [398, 310]], '86', 0.9893185670721275),
 ([[440, 286], [476, 286], [476, 312], [440, 312]], '3', 0.04864235537769801),
 ([[54, 312], [104, 312], [104, 336], [54, 336]], '', 0.0),
 ([[120, 314], [276, 314], [276, 338], [120, 338]],
  '23412440',
  0.021188447417431356),
 ([[54, 334], [264, 334], [264, 362], [54, 362]],
  '5102445',
  0.06917080663782314),
 ([[54, 358], [344, 358], [344, 386], [54, 386]],
  '950043271443486405869',
  0.08113739570313595),
 ([[52, 380], [294, 380], [294, 406], [52, 406]],
  '844871509446484765',
  0.019796171264901883),
 ([[52, 400], [100, 400], [100, 426], [52, 426]], '205', 0.08905798780265418),
 ([[54, 422], [146, 422], [146, 448], [54, 448]],
  '1411046',
  0.6575750042582039),
 ([[52, 444], [188, 444], [188, 474], [52, 474]],
  '81948100',
  0.3185713089263605),
 ([[489, 445], [626, 445], [626, 475], [489, 475]],
  '81949146',
  0.13760350020132106),
 ([[60, 470], [184, 470], [184, 478], [60, 478]], '27', 0.09862894342694047),
 ([[191, 470], [285, 470], [285, 478], [191, 478]], '92', 0.08427140412706023),
 ([[600, 470], [646, 470], [646, 478], [600, 478]], '', 0.0)]

In [8]:
for i in range(len(output)):
  result=output[i][-2]
  print(result)

TNe JNIJN UFNDIA
MAHARASHTRA STATE MOTOR DRIVING LICENCE
DL No MH:1220050000188
ID . 12-12-2005
Valid Till : 11-12-2025 (Non Trans)
(Inv Crg)
FOEH%q)
AUTHORISATION TO DRIVE FOLLOWING CLASS
Of VEHICLES THROUGHOUT INDIA
COv
ID
MCWG
12-12-2005
Badget
ID
DOB
12-05-1986
BG
Not
WName
POOJA M PALANDE
S@DN of MILIND PALANDE
Add S NO . 32/14 A3 , AMBEGAON BK ,
BHARTI VIDYAPEETH BACKSIDE
PUNe
Pin . 411046
Signalure & ID of
SignaturefThumb
Cce
UAOnnac

In [9]:
for i in range(len(output1)):
  result1=output1[i][-2]
  print(result1)

4291861
5444845418451412801030353644236
00641220050000188
10122122005
3951101222025785
71692
588809
481315473100316067455
051457430864081134
11
10
116
122122005
8921
10
008
120511986
86
3

23412440
5102445
950043271443486405869
844871509446484765
205
1411046
81948100
81949146
27
92

In [10]:
df1=pd.DataFrame(output)
Extract_text=pd.DataFrame(df1[1])
Extract_text.columns=['Text']
Extract_text

                                       Text
0                          TNe JNIJN UFNDIA
1   MAHARASHTRA STATE MOTOR DRIVING LICENCE
2                    DL No MH:1220050000188
3                           ID . 12-12-2005
4       Valid Till : 11-12-2025 (Non Trans)
5                                 (Inv Crg)
6                                   FOEH%q)
7    AUTHORISATION TO DRIVE FOLLOWING CLASS
8              Of VEHICLES THROUGHOUT INDIA
9                                       COv
10                                       ID
11                                     MCWG
12                               12-12-2005
13                                   Badget
14                                       ID
15                                      DOB
16                               12-05-1986
17                                       BG
18                                      Not
19                                    WName
20                          POOJA M PALANDE
21                   S@DN of MILIND PALANDE
22      Add S NO . 32/14 A3 , AMBEGAON BK ,
23               BHARTI VIDYAPEETH BACKSIDE
24                                     PUNe
25                             Pin . 411046
26                        Signalure & ID of
27                          SignaturefThumb
28                                      Cce
29                                  UAOnnac
30

In [11]:
df2=pd.DataFrame(output1)
Extract_text1=pd.DataFrame(df2[1])
Extract_text1.columns=['Number']
Extract_text1

                             Number
0                           4291861
1   5444845418451412801030353644236
2                 00641220050000188
3                       10122122005
4                  3951101222025785
5                             71692
6                            588809
7             481315473100316067455
8                051457430864081134
9                                11
10                               10
11                              116
12                        122122005
13                             8921
14                               10
15                              008
16                        120511986
17                               86
18                                3
19
20                         23412440
21                          5102445
22            950043271443486405869
23               844871509446484765
24                              205
25                          1411046
26                         81948100
27                         81949146
28                               27
29                               92
30

# Driving License

In [12]:
pattern=['[A-Za-z]{2}:\d{13}','[A-Za-z]{2}\d{13}','[A-Za-z]{3}\d{1} \d{11}', '[A-Za-z]{2}\d{2} \d{11}','[A-Za-z]{2}-\d{13}','[A-Za-z]{2}\d{2} \d{11}','[A-Za-z]{2}\d{2} \d{11}']
DL10=[]
Dl=[]
for pat in pattern:
    for element in Extract_text['Text']:
            if re.findall(pat,element):
                try:
                    DL1=(element.split('No'))
                    if len(DL1)>0:
                        DL10.append(DL1[1])
                except:
                    DL1=(element.split('NO'))
                    if len(DL10)>0:
                        DL10.append(DL1[1])


if len(DL10)==0:
    row=Extract_text[Extract_text['Text']=='DNo'].index
    row2=Extract_text[Extract_text['Text']=='DL No'].index
    row3=Extract_text[Extract_text['Text']=='DL #e'].index
    if Extract_text[Extract_text['Text']=='DNo'].index==row:
        rnum=row[0]
        rownumb=rnum+1
        DL1=Extract_text.iloc[rownumb,0]
       # DL1=DL.split('/')
        DL10.append(DL1)
    elif Extract_text[Extract_text['Text']=='DL No'].index==row2:
        rnum=row2[0]
        rownumb=rnum+1
        DL2=Extract_text.iloc[rownumb,0]
       # DL2=DL.split('/')
        DL10.append(DL2)
    elif Extract_text[Extract_text['Text']=='DL #e'].index==row3:
        rnum=row3[0]
        rownumb=rnum+1
        DL3=Extract_text.iloc[rownumb,0]
       # DL3=DL.split('/')
        DL10.append(DL3)
DL10=np.unique(DL10).tolist()

# Date of Issue

In [13]:
DOI1=[]
for i in Extract_text['Text']:
    if i.startswith('DOI'):
        doi_as=i.split(';')
        try:
            doi=doi_as[1]
        except:
            pass
    if i.startswith('DOI'):
        if ';' in i:
            doi_as=i.split(';')
            doi=doi_as[1]
            DOI1.append(doi)
        if ':' in i:
            doi_as=i.split(':')
            doi=doi_as[1]
            DOI1.append(doi)
    if i.startswith('DSi'):
        if ' ' in i:
            doi_as=i.split(' ')
            doi=doi_as[2]
            DOI1.append(doi)
    if i.startswith('Doi'):
        if ';' in i:
            doi_as=i.split(';')
            doi=doi_as[1]
            DOI1.append(doi)
    if i.startswith('ID'):
        if '.' in i:
            doi_as=i.split('.')
            doi=doi_as[1]
            DOI1.append(doi)
    if i.startswith('DoI'):
        if ' ' in i:
            doi_as=i.split(' ')
            doi=doi_as[1]
            DOI1.append(doi)

          
if len(DOI1)==0:
    

    rowDOI=Extract_text[Extract_text['Text']=='DOI'].index
    rowDOI2=Extract_text[Extract_text['Text']=='DoI'].index
    rowDOI3=Extract_text[Extract_text['Text']=='Do'].index
    rowDOI4=Extract_text[Extract_text['Text']=='LCI'].index
    rowDOI5=Extract_text[Extract_text['Text']=='Doi'].index
    if len(rowDOI)!=0:

        if rowDOI[0]==rowDOI[0]:
            rownumber=rowDOI[0]
            rownumDOI=rownumber+1
            DOI=Extract_text.iloc[rownumDOI,0]
            #DOI=DOI.split('/')
            DOI1.append(DOI)   
    if len(rowDOI2)!=0:
        print('hey')
        if rowDOI2[0]==rowDOI2[0]:
            rownumber=rowDOI2[0]
            rownumDOI2=rownumber+1
            DOI=Extract_text.iloc[rownumDOI2,0]
           # DOI=DOI.split('/')
            DOI1.append(DOI)
#         if str(DOI1[0][0]).isalpha():
#             pass
#         else:
#             print(DOI1)
    if len(rowDOI3)!=0:
        if rowDOI3[0]==rowDOI3[0]:
            rownumber=rowDOI3[0]
            rownumDOI3=rownumber+1
            DOI=Extract_text.iloc[rownumDOI3,0]
           # print(DOI)
       # DOI=DOI.split('/')
            DOI1.append(DOI)
        #print(DOI1[1])
    if len(rowDOI4)!=0:
        if rowDOI4[0]==rowDOI4[0]:
            rownumber=rowDOI4[0]
            rownumDOI4=rownumber+1
            DOI=Extract_text.iloc[rownumDOI4,0]
           # print(DOI)
       # DOI=DOI.split('/')
            DOI1.append(DOI)
    if len(rowDOI5)!=0:
        if rowDOI5[0]==rowDOI5[0]:
            rownumber=rowDOI5[0]
            rownumDOI5=rownumber+1
            DOI=Extract_text.iloc[rownumDOI5,0]
            DOI1.append(DOI)

DOI1=[i for i in DOI1 if not i.isalnum()]
for i in DOI1:
    if i.endswith('(TR)'):
        DOI1.pop(DOI1.index(i))

print(DOI1)

[' 12-12-2005']

# Valid Date

In [14]:
valid_date=[]
pattern=r'\d{2}-\d{2}-\d{4}','\d{2}.\d{2}-\d{4}','\d{2}-\d.\d{4}'
for i in Extract_text['Text']:
    if i.endswith(('(NT)','(Non Trans)','INT)','(Nt)','(NT')):
        for pa in pattern:
            valid_date1=re.findall(pa,i)
            if len(valid_date1)!=0:
                valid_date.append(valid_date1)

if len(valid_date)==0:
    pass
else:
     for i in valid_date:
        if len(i)==1:
            valid_date=i
print(valid_date)

['11-12-2025']

# AED Date

In [15]:
aed=[]
pattern=['\d{2}-\d{2}-\d{4}','\d-\d{2}-\d{4}']
for i in Extract_text['Text']:
    if i.startswith('AED'):
        for pat in pattern:
            AEDD=re.findall(pat ,i)
            if len(AEDD)!=0:
                aed.append(AEDD)
    elif len(aed)==0:
        AED=Extract_text[Extract_text['Text']=='AED'].index
        if AED!=0:
            AED=AED[0]+1
            AED=Extract_text.iloc[ind,0]
            aed.append(AED)

if len(aed)==0:
    pass
else:
    aed=aed[0]
    
aed

[]

# DLR

In [16]:
DLR=[]
for i in Extract_text['Text']:
    if i.startswith('DLR'):
        DLR1=re.findall(r'\d{2}-\d{2}-\d{4}',i)
        if len(DLR1)==1:
            DLR.append(DLR1)
    
ind=Extract_text[Extract_text['Text']=='DLR'].index
if ind!=0:
    DLR1=[Extract_text.iloc[ind[0]+1,0]]
    DLR1=re.findall(r'\d{2}-\d{2}-\d{4}',DLR1[0])
    DLR.append(DLR1)
print(DLR)

[]

# MCWG Date

In [17]:
MCWG=[]
for i in Extract_text['Text']:
    if 'MCWG' in i:
        row=Extract_text[Extract_text['Text']=='MCWG'].index
        rnumber=row[0]
        rownum=rnumber+1
        global MCWG
        MCWG2=Extract_text.iloc[rownum,0]
        MCWG1=MCWG2.split('/')
        MCWG.append(MCWG1)
print(MCWG)

[['12-12-2005']]

# LMV

In [18]:
LMV=[]

for i in Extract_text:
    if 'LMV' or 'LMv' in i:
        rowLMV=Extract_text[(Extract_text['Text']=="LMV") | (Extract_text['Text']=="LMv")].index
        if rowLMV!=0:
            rnumberLMV=rowLMV[0]
            rownumLMV=rnumberLMV+1
            LMV2=Extract_text.iloc[rownumLMV,0]
            LMV1=LMV2.split('/')
            if LMV1[0].isalnum():
                pass
            else:
                LMV.append(LMV1)
                
print(LMV)

[]

# LMV-TR

In [19]:
LMVKTR=[]
for i in Extract_text['Text']:
    if 'LMV-TR' in i:
        rowLMVTR=Extract_text[(Extract_text['Text']=='LMV-TR') | (Extract_text['Text']=='LAV-TR')].index
        
        if rowLMVTR!=0:
            rnumberLMVTR=rowLMVTR[0]
            rownumLMVTR=rnumberLMVTR+1
            LMVTR=Extract_text.iloc[rownumLMVTR,0]
            LMVTR=LMVTR.split('/')
            LMVKTR.append(LMVTR)
print(LMVKTR)

[]

# Trans Date

In [20]:
TRANS=[]
rowTRANS=Extract_text[Extract_text['Text']=='TRANS'].index
if rowTRANS!=0:
    rnumberTRANS=rowTRANS[0]
    rownumTRANS=rnumberTRANS+1
    TRANS1=Extract_text.iloc[rownumTRANS,0]
    TRANS.append(TRANS1)

# DOB

In [21]:
DOB=[]
rowDOB=Extract_text[(Extract_text['Text']=='DOB')|(Extract_text['Text']=='DCB')|(Extract_text['Text']=='DoB')].index
if rowDOB!=0:
    rnumberDOB=rowDOB[0]
    rownumDOB=rnumberDOB+1
    DOB2=Extract_text.iloc[rownumDOB,0]
   # DOB1=DOB2.split('/')
    DOB.append(DOB2)
DOB

['12-05-1986']

# Name

In [22]:
rowName=Extract_text[(Extract_text['Text']=='Name') | (Extract_text['Text']=="Vame") | (Extract_text['Text']=="Naie") | (Extract_text['Text']=="WName")].index
Name=[]
if rowName!=0:
    rnumberName=rowName[0]
    rownumName=rnumberName+1 #21
    Name1=Extract_text.iloc[rownumName,0]
    Name2=Name1.split('/')
    Name.append(Name2)
    
print(Name)

[['POOJA M PALANDE']]

# S/D/W

In [23]:
SDW=[]
j=[]
if rowName!=0:
    rnumberName=rowName[0]
    rownumName=rnumberName+2 #21
    sdw=Extract_text.iloc[rownumName,0]
    sdw=re.split('[" "|:]',sdw)
    for i in sdw:
        #if len(re.findall(r'[A-Z]',i))>3:
        if i.isupper() | len(re.findall(r'[A-Z]',i))>4: 
            new=i.replace('SIDN of:',"").replace('SIDN',"").replace('SIDW',"")
            j.append(new)
if "" in j:        
    j.remove("")
   
if len(j)!=0:
    if len(j)>1:
        SDW.append(j[0]+" "+j[1])
    else:
        SDW.append(j[0])


        
print(SDW)

['MILIND PALANDE']

# PIN

In [24]:
pattern=[('[A-Za-z]{3} \d\d\d\d\d\d'),('[A-Za-z]{3} . \d\d\d\d\d\d'),("(?<!\d)\d{6}(?!\d)")]
PIN=[]
for i in Extract_text['Text'].tail(10):
    for pat in pattern:
        if re.findall(pat,i):
            p=re.findall('\d{6}',i)
            if len(PIN)==0:
                PIN.append(p[0])
rowPIN=Extract_text[(Extract_text['Text']=='PIN') | (Extract_text['Text']=='Pin Code')].index
if rowPIN!=0:
    rnumberPIN=rowPIN[0]
    rownumPIN=rnumberPIN+1
    if rownumPIN<(Extract_text.shape[0]):
        PIN1=Extract_text.iloc[rownumPIN,0]
        if len(PIN)==0:
            PIN.append(PIN1)
print(PIN)

['411046']

# IOA

In [25]:
patternIOA=['[A-Z]{2}\d{2} \d{7}','[A-Z]{2}-\d{7}','[A-Z]{3}\d{1}','[M][h]\d{2}']
IOA=[]
count=1
for i in Extract_text['Text'].tail(10):
    for pat in patternIOA:
        if re.findall(pat,i):
            j=re.findall(pat,i)
            if len(j)!=0:
                IOA.append(j[0])
    
    
            

    
rowIOA=Extract_text[(Extract_text['Text']=='Issuing Authorty') | (Extract_text['Text']=='Issuing Authority:') |(Extract_text['Text']=='Authorty')|(Extract_text['Text']=='Issuing Authonty:')].index
if rowIOA!=0:
    rnumberIOA=rowIOA[0]
    rownumIOA=rnumberIOA+1
    if rownumIOA<(Extract_text.shape[0]):
        IOA1=Extract_text.iloc[rownumIOA,0]
        if len(IOA)==0:
            IOA.append(IOA1)
print(IOA)

[]

In [26]:
b=pd.DataFrame(DL10,columns=['Driving License'])
c=pd.DataFrame(DOI1,columns=['DOI'])
d=pd.DataFrame(valid_date,columns=['Valid Date'])
e=pd.DataFrame(aed,columns=['AED Date'])
f=pd.DataFrame(DLR,columns=['DLR Date'])
g=pd.DataFrame(MCWG,columns=['MCWG'])
h=pd.DataFrame(LMV,columns=['LMV'])
i=pd.DataFrame(TRANS,columns=['TRANS'])
j=pd.DataFrame(DOB,columns=['DOB'])
k=pd.DataFrame(Name,columns=['Name'])
l=pd.DataFrame(SDW,columns=['SDW'])
m=pd.DataFrame(PIN,columns=['PIN'])
n=pd.DataFrame(IOA,columns=['IOA'])
o=pd.DataFrame(LMVKTR,columns=['LMV-TR'])
Detail=pd.concat([b,c,d,e,f,g,h,i,j,k,l,m,n],axis=1)
Detail

,Driving License,DOI,Valid Date,AED Date,DLR Date,MCWG,LMV,TRANS,DOB,Name,SDW,PIN,IOA
0,MH:1220050000188,12-12-2005,11-12-2025,NaN,NaN,12-12-2005,NaN,NaN,12-05-1986,POOJA M PALANDE,MILIND PALANDE,411046,NaN